@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    width: 100%;
    height: 100vh;
    font-family: 'Playpen Sans';
}

.container{
    width: 100%;
    height: 100vh;

}


.darkmode{
    width: 2vmax;
    height: 2vmax;
    background-color: black;
    border-radius: 50%;
    position: relative;
    rotate: -45deg;
    left: 1vmax;
    top: 1vmax;
    
}

.darkmode::after{
    content: "";
    width: 1.8vmax;
    height: 1.8vmax;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    transform: translate(45%,0);

}

.nav{
    width: 100%;
    height: 10%;
    padding: 2vmax;
    margin-top: -2vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30%;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;    
}

li{
    display: inline;
    margin: 0 1.5vmax;
    font-weight: 500;
    font-size: 1.5vmax;
    padding: 0;
    cursor: pointer;
}

.icon{
    background: url(https://cdn-icons-png.flaticon.com/128/2633/2633345.png);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    border-radius: 50%;
    width: 3vmax;
    height: 3vmax;
    cursor: pointer;
}

.pages{
    padding: 0 70px;
}


.content{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
}

.intro{
    float: left;
    height: max-content;
    margin: auto;
    text-transform: uppercase;
    font-size: 2vmax;
    
}

.image{
    height: 100%;
    width: 30%;
    background:url(https://cdn.pixabay.com/photo/2018/10/26/06/55/anime-3773979_640.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    float: right;
    margin-top: -100px;
    position: relative;
}

.me{
    position:absolute;
    bottom: -80px;
    left: 50%;
    transform: translate(-50%,0%);
    font-size: 30px;  
    width: max-content;
}

.facebook{
    background:url(https://cdn-icons-png.flaticon.com/128/3128/3128208.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1.5vmax;
    height: 1.5vmax;
}

.twitter{
    background:url(https://cdn-icons-png.flaticon.com/128/733/733635.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1.5vmax;
    height: 1.5vmax;
}

.linkedin{
    background:url(https://cdn-icons-png.flaticon.com/128/2111/2111532.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1.5vmax;
    height: 1.5vmax;
}

.gmail{
    background:url(https://cdn-icons-png.flaticon.com/128/104/104069.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1.5vmax;
    height: 1.5vmax;
}

.instagram{
    background:url(https://cdn-icons-png.flaticon.com/128/87/87390.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1.5vmax;
    height: 1.5vmax;
}


@media (max-width:1340px) {
    .nav{
        padding-right: 0%;
    }

    .content{
        width: 100%;
        height: 100%;
    }

    .intro{
        margin:0;
        padding: 0;
        width: 100%;
        height: 10vmax;
        font-size: 1.5vmax;
        text-align: center;
    }

    .image{
        width: 40vmax;
        height: 80vmax;
        margin: 100px 30%;
        padding: 0;
        float: none;
        position:absolute;
        background:url(https://cdn.pixabay.com/photo/2018/10/26/06/55/anime-3773979_640.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .me{
        position:absolute;
        bottom: -40px;
        left: 50%;
        transform: translate(-50%,0%);
        font-size: 1.5vmax;  
        width: max-content;
        padding: 10px;
    }
}


@media (max-width:810px) {

    

    .social{
        position:absolute;
        top: 100%;
        height: 3vmax;
        padding-top: 14vmax;
        z-index: 5;
    }
}
